.hostel-listing-container{
    display: flex;
}
.hostel-listing-filter{
    background-color: #E7E7E7;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
}


.emptyImage{
    padding:0px 0px 0px 0px;
}

@media (max-width:768px){
    .hostel-listing-container{
        flex-direction: column;
    }
    .hostel-listing-filter{
        width: 100%;
    }
}
